body{
  margin: 0px;
}
.link {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  margin: auto;
  color: azure;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation{
  background-color: #F59E0B;
  padding: 0.5rem;
  margin: 0px;
}
nav {
  text-align: right;
  color: white;
}
nav h2{
  text-align: left;
}
.container {
  text-align: center;
}
.container button {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 0.5rem;
}
.container label{
  text-align: center;
}


label{
  display: block;
  padding: 0.5rem;
}
input{
  margin: 0.5rem;
}
.quiz-main {
  text-align: center;

}
.quiz-main label {
  display: contents;
}
.quiz-main p {
  font-weight: bold;
}
.quiz-main button{
  padding: 0.5rem;
  margin: 1rem;
  width: 5rem;
  background-color: #F59E0B;
}